<div class="block notice">
  <h3><%= yield(:sidebar_title).blank? ? "yield(:sidebar_title)" : yield(:sidebar_title) %></h3>
  <div class="content">
    <p><%= yield(:sidebar_content).blank? ? "yield(:sidebar_content)" : yield(:sidebar_content) %></p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>

