<div class="block notice">
  <h3>Admin Template</h3>
  <div class="content">
    <p>Esto es un menú autogenerado por Admn Template, debes definir su ruta con config[:sidebar]</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>